.navbar {
	width: 100vw;
	height: 6rem;
	display: flex;
	justify-content: center;
}

.grey-text {
	color: grey;
}

.navbar-container {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-container {
	height: 6rem;
	width: 6rem;
}

.navbar-text-container {
	display: flex;
	width: 20%;
	min-width: 13rem;
	justify-content: space-between;
	align-items: center;
}

.navbar-text {
	font-style: italic;
}
.navbar-text:hover {
	cursor: pointer;
	color: lightskyblue;
	font-style: normal;
}

.comment-input {
	width: 100%;
	min-height: 5vh;
	background-color: #030304;
	border: 0.6px solid grey;
	border-radius: 5px;
}

.input-container {
	width: 40vw;
}

.comments-section {
	width: 50rem;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
